@font-face {
  font-family: 'Martian Grotesk';
  font-display: swap;
  src: url('/fonts/MartianGrotesk.woff2') format('woff2');
  font-weight: 100 800;
  /*font-stretch: 75% 150%;*/
}

@font-face {
  font-family: 'Martian Mono';
  font-display: swap;
  src: url('/fonts/MartianMono.woff2') format('woff2');
  font-weight: 100 800;
  /*font-stretch: 75% 150%;*/
}